@font-face {
    font-family: 'avergentregular';
    src: url('avergent-regular-personal-use-webfont.woff2') format('woff2'),
         url('avergent-regular-personal-use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}